*{
	margin: 0;
	padding: 0;
}


.container {
  padding: 25px 0 0 25px;
}

a.play-button{
  background:#fff;
  width:225px;
  display:block;
  height:33px;
  padding-top:19px;
  border:1px solid #000;
   margin: 20px auto;
  font-family: 'Dosis', sans;
  font-size: 18px;
  font-weight:200;
  color:#000;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  opacity:.8;
  letter-spacing: 1px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
}
a.play-button:hover{
  width:225px;
  height:33px;
  padding-top:19px;
  border:1px solid teal;
  margin: 20px auto;
  opacity:1;
  letter-spacing: 4px;
  -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
}

.game-area {
  border: 1px dotted black;
  height: 600px;
  overflow: hidden;
  width: 50%;
  margin-left: 25%;
  padding: 25px 0 0 25px;
}